<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3e41517785.js" crossorigin="anonymous"></script>
    <title>Todoey</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>

</body>

</html>