@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');

*,*::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F1DEC9;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* INDEX.EJS(MAIN SECTION) */
h2{
    margin-top: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #8D7B68;
}
.container{
    background-color: #ffffff;
    border-radius: 8px;
    width: 24rem;
    padding: 1em;
    height: auto;
    text-align: center;    
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 3px 3px#C8B6A6;
    border-left: 10px solid #8D7B68;
}

input[type=text]{
    border: none;
    padding: .6em;
    width: 100%;
    box-sizing: border-box;
}
input[type=text]:focus-visible{
    outline: none;
}
input[type=text]::placeholder{
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.checked::placeholder{
    text-decoration: line-through;
}

.btn{
    background-color: #F1DEC9;
    border: none;
    border-radius: 50%;
    padding: .8em 1em; 
}
.btn-box{
margin: 5em auto .5em;
}

footer{
    margin-top: 2em;
}
